body{
	margin: 0px;
	padding:0px;
	text-align: center;
	background-color: black;
}
.header--main{
	font-family: Verdana;
	font-weight: Normal;
	font-size: 50px;
	text-align: center;
	color: white;
	
}
.link--cta{
	color: Aquamarine;
	font-size: 16px;
	
}
.header--secondary{
	font=family: Verdana;
	font-weight: 300;
	font-size: 42px;
	color: white;
}
.header--sub-header{
	font-family: Verdana;
	font-size: 21px;
	color: grey;
}
.footer--copyright{	
	text-align: right;
	color: grey;
	float: right;
	font-size: 30px;
}